body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

main {
    width: 50%;
    margin: auto;
}

li {
    list-style-type: none;
    font-size: 30px;
    font-style: italic;
    border-radius: 35px;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 2em;
}

li:hover {
    font-weight: bold;
    color: #17252A;
}

.checked-task {
    text-decoration: line-through;
    border: none;
}

ion-icon {
    display: inline-block;
}

#form-submit {
    border: none;
    background-color: white;
    display: inline-block;
    font-size: 35px;
}

input {
    padding: 10px 15px;
    border-radius: 35px;
}

.list-icon {
    font-size: 30px;
}

p {
    font-size: 30px;
}

h2 {
    font-size: 40px;
}
